<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Laboratorio5.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="LabConnectionString1" connectionString="Data Source=laboratoriohads.database.windows.net;Initial Catalog=Lab;Persist Security Info=True;User ID=adminhads;Password=A1s2d3f4" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5.2"/>
    <customErrors mode="Off"/>
  <sessionState
    mode="InProc"
    timeout="10"/>
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.webServer>
    <security>
      <requestFiltering>
        <denyUrlSequences>
          <clear/>
        </denyUrlSequences>
        <fileExtensions allowUnlisted="true">
          <clear/>
        </fileExtensions>
      </requestFiltering>
    </security>
  </system.webServer>
  <!--<authentication mode="Forms">
    <forms protection="Encryption" loginUrl="/inicio.aspx" defaultUrl="/inicio.aspx"/>
  </authentication>-->
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="inicio.aspx" timeout="10"/>
    </authentication>
    <authorization>
      <allow users="*"/>
    </authorization>
  </system.web>
  <location path="Alumno/Alumno.aspx">
    <system.web>
      <authorization>
        <allow users="alumno, profesor, administrador"/>
        <deny users="*"/>
      </authorization>
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.0"/>
      <httpRuntime/>
    </system.web>
  </location>
  <location path="Profesor">
    <system.web>
      <authorization>
        <allow users="profesor, administrador"/>
        <deny users="*"/>
      </authorization>
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.0"/>
      <httpRuntime/>
    </system.web>
  </location>
  <location path="Administrador">
    <system.web>
      <authorization>
        <allow users="administrador"/>
        <deny users="*"/>
      </authorization>
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.0"/>
      <httpRuntime/>
    </system.web>
  </location>

  <system.serviceModel>
      <bindings>
          <basicHttpBinding>
              <binding name="MatriculasBinding1" />
              <binding name="CoordinacionSoap" />
          </basicHttpBinding>
      </bindings>
    <client>
      <endpoint address="http://sw14.hol.es/ServiciosWeb/comprobarmatricula.php"
        binding="basicHttpBinding" bindingConfiguration="MatriculasBinding1"
        contract="Comprobar.MatriculasPortType" name="MatriculasPort1" />
      <endpoint address="http://localhost:57239/Coordinacion.asmx"
        binding="basicHttpBinding" bindingConfiguration="CoordinacionSoap"
        contract="CoorMedia.CoordinacionSoap" name="CoordinacionSoap" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <Laboratorio5.My.MySettings>
      <setting name="Laboratorio5_es_hol_sw14_Matriculas" serializeAs="String">
        <value>http://sw14.hol.es/ServiciosWeb/comprobarmatricula.php</value>
      </setting>
      <setting name="Laboratorio5_net_azurewebsites_hadspportalo_Coordinacion"
        serializeAs="String">
        <value>http://hadspportalo.azurewebsites.net/Coordinacion.asmx</value>
      </setting>
    </Laboratorio5.My.MySettings>
  </applicationSettings>
</configuration>